global
  log /dev/log  local0
  log /dev/log  local1 notice
  maxconn 2000
  user haproxy
  group haproxy

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull

frontend hafrontend
  bind 192.168.201.10:80
  mode http
  default_backend habackend

backend habackend
  mode http
  balance roundrobin
  option httpchk
  server app1 192.168.201.11:5000 cookie app1 check
  server app2 192.168.201.12:5000 cookie app2 check

listen  stats 192.168.201.10:9000
  mode http
  log global
  stats enable
  stats refresh 10s
  stats show-node
  stats uri  /info